services:
  op-geth:
    build: .
    volumes:
      - base:/base
    ports:
      - 127.0.0.1:9545:9545 # http rpc
      - 127.0.0.1:9546:9546 # ws rpc
      - 30305:30305 # p2p
      - 30305:30305/udp # p2p
      - 127.0.0.1:5060:5060 # metrics
    networks:
      - base
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped
    stop_grace_period: 5m
    command: ['bash', './geth-entrypoint.sh']

  op-node:
    build: .
    volumes:
      - base:/base
    ports:
      - '9005:9005' # p2p
      - '9005:9005/udp' # p2p
      - 127.0.0.1:5065:5065 # metrics
      - 127.0.0.1:9550:9550 # RPC port
    depends_on:
      - op-geth
    networks:
      - base
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped
    stop_grace_period: 5m
    command: ['bash', './op-node-entrypoint.sh']

networks:
  base:
    ipam:
      driver: default
      config:
        - subnet: 172.21.0.0/16
          gateway: 172.21.0.1

volumes:
  base:
